<div class="filterSec">
  <div class="col-12">
    <h3>Filters</h3>
    <div>
      <p class="title">Launch Year</p>
      <hr>
    
    <ul class="catListing">
     
      <li *ngFor="let year of years"  (click)="filterByCat($event)">{{year}}</li>
    </ul>
   
  </div>

  <div>
    <p class="title">Successful Launch</p>
    <hr>
  
    <ul class="filter">
     
      <li (click)="successLaunchCase($event)">True</li>
      <li  (click)="successLaunchCase($event)">False</li>
    </ul>

      
    </div>
    <div>
      <p class="title">Successful Landing</p>
      <hr>
    
      <ul class="filter">
       
        <li (click)="successLandCase($event)">True</li>
        <li (click)="successLandCase($event)">False</li>
      </ul>
  
        
      </div>
    </div>
  </div>
 


 
 
